<a href="https://colab.research.google.com/github/GuilhermeFMedici/Exercicios_em_Python/blob/main/Exerc%C3%ADcios_Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercícios

## 1. Faturamento do Melhor e do Pior Mês do Ano

Qual foi o valor de vendas do melhor mês do Ano?
E valor do pior mês do ano?

In [ ]:
meses = ['jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez']
vendas_1sem = [25000, 29000, 22200, 17750, 15870, 19900]
vendas_2sem = [19850, 20120, 17540, 15555, 49051, 9650]

vendas_1sem.extend(vendas_2sem)
maior_valor = max(vendas_1sem)
menor_valor = min(vendas_1sem)
print(maior_valor)
print(menor_valor)
print(vendas_1sem)

49051
9650
[25000, 29000, 22200, 17750, 15870, 19900, 19850, 20120, 17540, 15555, 49051, 9650]

## 2. Continuação

Agora relacione as duas listas para printar 'O melhor mês do ano foi {} com {} vendas' e o mesmo para o pior mês do ano.

Calcule também o faturamento total do Ano e quanto que o melhor mês representou do faturamento total.

Obs: Para o faturamento total, pode usar a função sum(lista) que soma todos os itens de uma lista

In [ ]:
i_maior_valor = vendas_1sem.index(maior_valor)
i_menor_valor = vendas_1sem.index(menor_valor)

print('O melhor mês do ano foi {} com {} vendas' .format(meses[i_maior_valor], maior_valor))
print('O pior mês do ano foi {} com {} vendas' .format(meses[i_menor_valor], menor_valor))

fat_total = sum(vendas_1sem)
print('O faturamento total do ano foi de: R${:,}' .format(fat_total))

percentual_melhor_mes = maior_valor / fat_total
print('O melhor mês representou {:.1%}' .format(percentual_melhor_mes))

O melhor mês do ano foi nov com 49051 vendas
O pior mês do ano foi dez com 9650 vendas
O faturamento total do ano foi de: R$261,486
O melhor mês representou 18.8%

## 3. Crie uma lista com o top 3 valores de vendas do ano (sem fazer "no olho")

Dica: o método remove retira um item da lista.

In [ ]:
top3 = []
print(vendas_1sem)

maior_valor = max(vendas_1sem)
top3.append(maior_valor)

vendas_1sem.remove(maior_valor)
print(vendas_1sem)

maior_valor = max(vendas_1sem)
top3.append(maior_valor)

vendas_1sem.remove(maior_valor)
print(vendas_1sem)

maior_valor = max(vendas_1sem)
top3.append(maior_valor)
print('O top 3 valores de vendas do ano é {}' .format(top3))

[25000, 29000, 22200, 17750, 15870, 19900, 19850, 20120, 17540, 15555, 49051, 9650]
[25000, 29000, 22200, 17750, 15870, 19900, 19850, 20120, 17540, 15555, 9650]
[25000, 22200, 17750, 15870, 19900, 19850, 20120, 17540, 15555, 9650]
O top 3 valores de vendas do ano é [49051, 29000, 25000]